version: '3.8'

services:
  app:
    container_name: aquinaotem-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    # Uncomment lines below if you need to persist uploaded files or logs
    # volumes:
    #   - ./uploads:/app/public/uploads
