version: '3.8'

services:
  app:
    # Em Swarm, usamos a imagem pronta do GHCR
    image: ghcr.io/jorguzz-fer/aquinaotem:latest
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
